.container {
  background-color: white;
  margin: 30px auto;
  max-width: 500px;
  padding: 40px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  box-shadow: 2px 9px 10px -4px rgba(0,0,0,0.7);
  text-align: center;
}

h2{
  margin-bottom: 40px;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  padding: 12px 12px;
  max-width: 600px;
  min-width: 300px;
  border: 2px solid #373B66;
  border-radius: 20px;
  outline: 0;
  margin-bottom: 22px;
  font-size: 12px;
}

form input:focus {
  border: 2px solid red;
}

form button {
  padding: 12px 12px;
  border: 0;
  background-color:#373B66 ;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
}

form button:hover{
  opacity: 0.95;
}


form input::placeholder {
  color: #000;
}
