.container {
  background-color: white;
  margin: 30px auto;
  max-width: 1200px;
  padding: 40px 40px;

  color: #000;
  box-shadow: 2px 9px 10px -4px rgba(0,0,0,0.7);
  text-align: center;

}

.cards {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-items: center;
}

